body,
html {
	height: 100%;
	margin: 0;
	background: #7F7FD5;
	background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
	background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}
.user_img {
	height: 50px;
	width: 50px;
	border: 1.5px solid #f5f6fa;
}
.contain-profil{
    background-color: rgba(0, 0, 0, 0.4) !important;
    height: 200px;
    border-radius: 19px;
}